<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="/app.css" rel="stylesheet" type="text/css" />

    <title>KevChat Identity | Error</title>
  </head>
  <body>
    <div
      class="container min-h-screen w-full flex flex-col justify-center items-center bg-base-300"
    >
      <main class="py-12">
        <h1 class="text-center text-3xl mb-4">KevChat Identity</h1>
        <div class="card card-dash bg-base-100 min-w-80">
          <div class="card-body gap-4">
            <h2 class="text-2xl">We hit an error:</h2>
            <% if (errorMessage) { %>
              <div role="alert" class="alert alert-error alert-soft">
                <span><%= errorMessage %></span>
              </div>
            <% } %>
            <p>Please close this window & try again later.</p>
          </div>
        </div>
      </mai>
    </div>
  </body>
</html>

