<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="/app.css" rel="stylesheet" type="text/css" />

    <title>KevChat Identity | Error</title>
  </head>
  <body>
    <div
      class="container h-full flex flex-col justify-center items-center bg-base-300"
    >
      <article class="prose">
        <h1 class="text-center">KevChat Identity</h1>
        <div class="card card-dash bg-base-100 w-96">
          <div class="card-body">
            <h2 class="mt-0 mb-3">We hit an error:</h2>
            <% if (errorMessage) { %>
              <div role="alert" class="alert alert-error alert-soft">
                <span><%= errorMessage %></span>
              </div>
            <% } %>
            <p class="mb-0">Please close this window & try again later.</p>
          </div>
        </div>
      </article>
    </div>
  </body>
</html>

