@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* :root, [data-theme] {
  background-color: var(--root-bg, var(--color-base-100));
  color: var(--color-base-content);
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
